* {
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
}

h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 50px;
}

h2 {
  margin-bottom: 30px;
  margin-left: 50px;
}

table {
  margin: 50px;
  border: 1;
}

table a {
  text-decoration: none;
}

table th,
table td {
  padding: 5px 15px;
}

thead tr {
  background-color: #1a222b;
  color: #ffffff;
  font-weight: bold;
}

td .tombol-update {
  background-color: #479dff;
  width: 60px;
  height: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin: 5px 5px;
}

td .tombol-update:hover {
  background-color: #137df7;
  font-weight: bold;
}

td .tombol-delete {
  background-color: #ff4848;
  width: 60px;
  height: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin: 5px 5px;
}

td .tombol-delete:hover {
  background-color: #fd1010;
  font-weight: bold;
}
